img.funny-glasses {
  position: relative;
  left: 211px;
  top: -109px;
}
img.bandana {
  position: absolute;
  top: 180px;
  left: 105px;
}
img.pawprint {
  position: fixed;
  top: 45px;
  left: 65px;
}
img.luna {
  position: sticky;
  left: 0;
}
img.top-hat {
  position: relative;
  z-index: -15px;
}
